os: windows
language: shell
filter_secrets: false
cache: false
before_install:
  - choco install openjdk -y
  - wget http://services.gradle.org/distributions/gradle-5.3-bin.zip
  - mkdir 'c:\\newocr'
  - unzip -qq gradle-5.3-bin.zip -d /c/newocr/gradle
  - export GRADLE_HOME=/c/newocr/gradle/gradle-5.3
  - export JAVA_HOME="C:\\Program Files\\OpenJDK\\jdk-12.0.1"
  - export PATH=$GRADLE_HOME/bin:$PATH
  - export PATH=$JAVA_HOME/bin:$PATH
  - set TERM=dumb
  - gradle -version
script:
  - gradle clean install cleanTest test --exclude-task signArchives --no-daemon
after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - bash send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - bash send.sh failure $WEBHOOK_URL
deploy:
  provider: script
  script: bash scripts/deploy.sh
  on:
    branch: master
